@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.lazyload-appear {
  animation-name: fadeInUp;
}

.lazyload-appear-active {
  animation-duration: 1s;
}
