@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slowFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.lazyload-content-appear {
  animation-name: fadeInUp;
}

.lazyload-content-appear-active {
  animation-duration: 1s;
}

.lazyload-msg-appear {
  animation-name: slowFadeIn;
}

.lazyload-msg-appear-active {
  animation-duration: 2s;
}

.main-content-appear {
  opacity: 0;
}

.main-content-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}
